.header {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to bottom, #55EFCB, #59D5F0);
    padding: 11px 40px;
    border-radius: 0 0 8px 8px;
}

.logo {
    width: 95px;
    height: 28px;
    background-size: 95px 28px;
    background: url('./images/logo.svg') no-repeat;
}